.login {
  margin: 0;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.349);
  backdrop-filter: blur(16px);
  width: 100%;
  height: 100vh;
  opacity: 0;
  transition: all 0.5s ease-out;
  z-index: 1000;
}

.login.show {
  opacity: 1;
  pointer-events: auto;
  z-index: 1002;
  transition: all 0.4s ease-in;
  position: fixed;
}

a {
    text-decoration: none;
}

.button {
  padding: 6px 24px;
  border: 2px solid #fff;
  background: transparent;
  border-radius: 6px;
  cursor: pointer;
}
.button:active {
  transform: scale(0.98);
}

/* From */
.form_container {
  position: fixed;
  max-width: 320px;
  width: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -80%) scale(1);
  z-index: 1000;
  background: #fff;
  padding: 25px;
  border-radius: 12px;
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.3);
  opacity: 0;
  pointer-events: none;
}

.show .form_container {
  opacity: 1;
  pointer-events: auto;
  transition: all 0.4s ease-out;
  transform: translate(-50%, -50%) scale(1);
}

.signup_form {
  display: none;
}
.form_container.active .signup_form {
  display: block;
}
.form_container.active .login_form {
  display: none;
}
.form_close {
  position: absolute;
  top: 10px;
  right: 20px;
  color: #0b0217;
  font-size: 22px;
  opacity: 0.7;
  cursor: pointer;
}
.form_container h2 {
  font-size: 22px;
  color: #0b0217;
  text-align: center;
}
.input_box {
  position: relative;
  margin-top: 30px;
  width: 100%;
  height: 40px;
}
.input_box input {
  height: 100%;
  width: 80%;
  border: none;
  outline: none;
  padding: 0 30px;
  color: #333;
  transition: all 0.2s ease;
  border-bottom: 1.5px solid #aaaaaa;
}
.input_box input:focus {
  border-color: #6D2F9E;
}
.input_box i {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 20px;
  color: #707070;
}
.input_box i.email,
.input_box i.password {
  left: 0;
}
.input_box input:focus ~ i.email,
.input_box input:focus ~ i.password {
  color: #6D2F9E;
}
.input_box i.pw_hide {
  right: 0;
  font-size: 18px;
  cursor: pointer;
}
.option_field {
  margin-top: 14px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.form_container a {
  color: #6D2F9E;
  font-size: 12px;
}
.form_container a:hover {
  text-decoration: underline;
}
.checkbox {
  display: flex;
  column-gap: 8px;
  white-space: nowrap;
}
.checkbox input {
  accent-color: #6D2F9E;
}
.checkbox label {
  font-size: 12px;
  cursor: pointer;
  user-select: none;
  color: #0b0217;
}
.form_container .button {
  background: #6D2F9E;
  margin-top: 30px;
  width: 100%;
  padding: 10px 0;
  border-radius: 10px;
  color: white;
  font-weight: bold;
}
.login_signup, #signup, #login {
  font-size: 14px;
  text-align: center;
  margin-top: 15px;
}

@media screen and (max-width: 460px) {
  .form_container {
    max-width: 260px;
  }
}