@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


:root {
   --primary-color: #6D2F9E;
   --secondary-color: #B878EB;
   --background-color: #040c3c;
   --font-primary: 'Roboto', sans-serif;
   --font-color-grey: #707070;
}

* {
   margin: 0;
}

@keyframes appear-up {
   from {
       opacity: 0;
       transform: translateY(-100px);
   } to {
       opacity: 1;
       transform: translateY(0px);
   }
}

.main {
   margin: 0;
   display: flex;
   justify-content: center;
   align-items: center;
   height: 100vh;
}

.left-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    width: 100%;
    height: 100vh;
    gap: 2rem;
    z-index: 101;
}

.logo-hero {
    display: flex;
    text-align: center;
    align-items: center;
    font-family: var(--font-primary);
    animation: appear-up 0.75s;
}

.logo-hero > p {
    font-size: 40px;
    color: var(--primary-color);
    font-weight: 700;
}

.logo {
    width: 100px;
    height: 60px;
}

.login-svg {
    width: 60%;
    animation: appear-up 0.75s;

}

.login-p {
    text-align: center;
    font-size: 24px;
    font-family: var(--font-primary);
    color: var(--font-color-grey);
    animation: appear-up 0.75s;
}

.right-section {
    width: 100%;
    height: 100vh;
    background-color: var(--background-color);
    display: flex;
    justify-content: center;
    z-index: 100;
}

.login-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 400px;
    min-height: 400px;
    background-color: var(--background-color);
    box-shadow: 0 0 12px var(--primary-color);
    border-radius: 12px;
    border: 2px solid var(--primary-color);
    animation: appear-up 0.75s;
}

.login {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}


.input_box input {
    display: flex;
  height: 100%;
  width: 80%;
  outline: none;
  border: none;
  background-color: var(--background-color);
  padding: 0 30px;
  color: var(--secondary-color);
  transition: all 0.2s ease;
  border-bottom: 2px solid var(--primary-color);
  box-shadow: 0 4px 12px -6px var(--primary-color);
  font-size: 20px;
  align-items: center;
}

input::placeholder {
    color: var(--primary-color);
}

.input_box {
    margin-top: 2rem;
}

.login-h1 {
   font-family: var(--font-primary);
    font-size: 36px;
    font-weight: 500;
    text-align: center;
    color: var(--secondary-color);
}

.login-card > a {
    font-family: var(--font-primary);
    font-size: 16px;
    font-weight: 500;
    color: var(--primary-color);
    margin-top: 1rem;
    text-align: center;
    text-decoration: none;
}

.login-card > a:hover {
    color: var(--secondary-color);
}

.login-card > a:active {
    color: var(--primary-color);
}

.submit {
    margin-top: 2rem;
    width: 120px;
    height: 50px;
    border: 2px solid var(--secondary-color);
    border-radius: 8px;
    background-color: var(--background-color);
    color: var(--secondary-color);
    font-family: var(--font-primary);
    font-size: 18px;
    font-weight: 600;
}

.submit:hover {
    background-color: var(--secondary-color);
    color: var(--background-color);
    transition: 0.5s;
}

.submit:active {
    background-color: var(--primary-color);
    color: var(--background-color);
}

.no-account {
    margin-top: 1rem;
    font-family: var(--font-primary);
    color: rgb(196, 196, 196);
    font-size: 16px;
    font-weight: 500;
    text-align: center;
}

.no-account > a {
    color: var(--primary-color);
    text-decoration: none;
}

.no-account > a:hover {
    color: var(--secondary-color);
}

.no-account > a:active {
    color: var(--primary-color);
}

.forgot {
    margin-top: 1rem;
    font-family: var(--font-primary);
    color: rgb(196, 196, 196);
    font-size: 16px;
    font-weight: 500;
    text-align: center;

}

/* particles */
canvas {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: -1;
}

/* responsive */

@media only screen and (max-width: 900px) {
    .login-card {
        width: 300px;
        height: 300px;
    }

    .input_box input {
        width: 180px;
        font-size: 16px;
    }
}

@media only screen and (max-width: 680px) {
    .left-section {
        display: none;
    }
}
