@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


* {
    margin: 0;
    font-family: "Roboto-Mono", monospace;
}

.video-hero {
    background-blend-mode: darken;
    position: absolute;
    height: 100%;
    object-fit:cover;
    width: 100%;
    z-index: -1;
    filter: brightness(65%);
}

.hero-404 {
    display: flex;
    text-align: center;
    flex-direction: column;
    gap: 12px;
    color: white;
    padding-top: 18%;
    margin: 0;
}

.hero-404 p {
    font-size: 18px;
    margin: 0;
}


.countdown {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
}

.card {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    border: 2px solid rgb(236, 184, 13);
    border-radius: 8px;
    width: 125px;
    height: 150px;
}

.card p, span{
    font-size: 24px;
    font-weight: bold;
    color: rgb(236, 184, 13);
    opacity: 1;
}

a {
    font-size: 24px;
    font-weight: bold;
    color: rgb(236, 184, 13);
}

a:hover {
    color: white;
    transition: 0.5s;
}

a:active {
    color: rgb(236, 184, 13);
}


@media screen and (max-width: 868px) {
    .card {
        width: 84px;
        height: 100px;
    }

    .card p, span {
        font-size: 18px;
    }
}

@media screen and (max-width: 638px) {
    .hero-404 {
        padding-top: 40%;
    }
}

@media screen and (max-width: 464px) {
    .hero-404 {
        padding-top: 50%;
    }

    .card {
        width: 64px;
        height: 64px;
        border-radius: 50%;
    }

    .card p, span {
        font-size: 14px;
    }

    .hero-404-h1 {
        font-size: 28px;
    }

    .hero-404 p {
        font-size: 14px;
    }

    a {
        font-size: 18px;
    }

    .countdown {
        gap: 12px;
    }
}