@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    scroll-behavior: smooth;
}

body {
    font-family: "Roboto", sans-serif;
    margin: 0;
    height: 100%;
}

header {
    display: flex;
    padding: 0 127px;
    background-color: white;
    box-shadow: 0 0 8px rgb(44, 44, 44);
    border: none;
    height: 105px;
    margin: 0;
    color: #6D2F9E;
    top: 0;
    position: sticky;
}

#btnScrollToTop {
    position: fixed;
    right: 20px;
    bottom: 20px;
    width: 64px;
    height: 64px;
    border-radius: 50%;
    background-color: #6D2F9E;
    border: none;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.911);
    color: white;
    outline: none;
    cursor: pointer;
    font-size: 18px;
}

.logo-hero {
    display: flex;
    align-items: center;
}

.logo-img-hero {
    width: 110px;
    height: 63.52px;
    border-radius: 12px;
}

.link-hero {
    margin-left: auto;
    display: flex;
    align-items: center;
    font-size: 32px;
}

.link-hero a {
    text-decoration: none;
    margin: 0 16px;
}

.link-hero a:hover {
    color: #B878EB;
    transition: 0.5s;
}

.link-hero a:active {
    color: #4F378B;
}

.btn-hero-signup {
    background-color: #6D2F9E;
    color: white;
    border: none;
    text-align: center;
    width: 143px;
    height: 61px;
    border-radius: 12px;
    font-size: inherit;
    font-weight: bold;
    cursor: pointer;
}

.btn-hero-signup:hover {
    background-color: white;
    border: 3px solid #6D2F9E;
    color: #6D2F9E;
    transition: 0.5s;
}

.btn-hero-signup:active {
    background-color: #4F378B;
    color: white;
}

.hero {
    padding: 0 127px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 209px;
}

.hero-detail-h1 {
    color: #6D2F9E;
    font-size: 96px;
    width: 769.98px;
    margin: 0;
}

.hero-detail-p {
    font-size: 32px;
    width: 673.9px;
}

.hero-detail-btn {
    width: 177px;
    height: 61px;
    background-color: #6D2F9E;
    color: white;
    font-size: 32px;
    font-weight: bold;
    border-radius: 12px;
    border: none;
    cursor: pointer;
}

.hero-detail-btn:hover {
    background-color: white;
    border: 3px solid #6D2F9E;
    color: #6D2F9E;
    transition: 0.5s;
}

.hero-detail-btn:active {
    background-color: #4F378B;
    color: white;
}


.img-assets-hero {
    width: 565px;
    height: 696px;
    margin-top: 79.680px;
}

.threshold {
    height: 206px;
}

.hero-rakit {
    display: flex;
    text-align: center;
    flex-direction: column;
    padding: 0 127px;
}

.hero-rakit-detail-h1 {
    width: 608px;
    height: 150px;
    margin: 0 auto;
    color: #6D2F9E;
    font-size: 64px;
    font-weight: bold;
}

.hero-rakit-detail-p {
    width: 674px;
    height: 56px;
    margin-left: auto;
    margin-right: auto;
    font-size: 24px;
}

.hero-rakit-btn {
    width: 363.81px;
    height: 61px;
    background-color: #6D2F9E;
    color: white;
    border: none;
    border-radius: 12px;
    font-size: 32px;
    font-weight: 550;
}

.hero-rakit-btn:hover {
    background-color: white;
    border: 3px solid #6D2F9E;
    color: #6D2F9E;
    transition: 0.5s;
}

.hero-rakit-btn:active {
    background-color: #4F378B;
    color: white;
}


.hero-rakit-flex-card {
    display: flex;
    margin: 48px auto;
    gap: 134px;
}

.hero-rakit-card {
    width: 360px;
    height: 614px;
    background-color: white;
    box-shadow: 0 0 12px rgba(0, 0, 0, 0.2);
    border-radius: 12px;
}

.rakit-card-img {
    object-fit: cover;
    width: 246px;
    height: 337px;
    border-radius: 12px;
    margin-top: 58px;
}

.rakit-card-p  {
    width: 239px;
    height: 69px;
    font-size: 24px;
    text-align: left;
    margin: 0 auto;
}

.rakit-card-p-sub {
    width: 239px;
    height: 41px;
    font-size: 20px;
    text-align: left;
    margin: 0 auto;
    color: #AFAFAF;
}

.nav-status {
    padding: 0 57px;
    display: flex;
    margin: 45px auto;
    align-items: center;
}

.nav-status a {
    font-size: 20px;
    text-decoration: none;
}

.status {
    display: flex;
    margin-left: auto;
    align-items: center;
    gap: 4px;
}

.status img {
    width: 24px;
    height: 24px;
}

.hero-beli {
    padding: 0 127px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 209px;
    background-color: #6D2F9E;
    height: 837px;
}

.hero-beli-detail {
    margin-left: auto;
}

.hero-beli-detail-h1 {
    font-size: 64px;
    font-weight: 800;
    color: white;
    font-family: "Raleway", sans-serif;
    -webkit-text-stroke: 2px black ;
    width: 674px;
    height: 225px;
    text-align: right;
}

.hero-beli-detail-p {
    font-size: 32px;
    color: white;
    width: 674px;
    height: 114px;
    text-align: right;
}

.hero-beli-detail-btn {
    display: flex;
    margin-left: auto;
    background-color: white;
    color: #6D2F9E;
    width: 205px;
    height: 61px;
    font-size: 32px;
    border-radius: 12px;
    border: none;
    font-weight: 500;
    justify-content: center;
    align-items: center;
}

.hero-beli-detail-btn:hover {
    background-color: #6D2F9E;
    border: 3px solid white;
    color: white;
    transition: 0.5s;
}

.hero-beli-detail-btn:active {
    background-color: white;
    color: #6D2F9E;
}


.img-assets-hero-beli {
    width: 872px;
    height: 531px;
    border: none;
    border-radius: 12px;
    align-items: center;
    box-shadow: 0 4px 35px white;
}

.hero-forum {
    padding: 0 127px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 209px;
}

.hero-forum-detail-h1 {
    width: 685px;
    height: 206px;
    font-size: 96px;
    color: #6D2F9E;
    margin: 0;
}

.hero-forum-detail-p {
    width: 674px;
    height: 114px;
    font-size: 32px;
}

.hero-forum-detail-btn {
    width: 328.02px;
    height: 61px;
    background-color: #6D2F9E;
    color: white;
    font-size: 32px;
    font-weight: bold;
    border-radius: 12px;
    border: none;
}

.hero-forum-detail-btn:hover {
    background-color: white;
    border: 3px solid #6D2F9E;
    color: #6D2F9E;
    transition: 0.5s;
}

.hero-forum-detail-btn:active {
    background-color: #4F378B;
    color: white;
}


.hero-forum .hero-rakit-flex-card .hero-rakit-card .rakit-card-img {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5px;
}

.footer-hero {
    background-color: #4F378B;
    height: 483px;
}

.footer-hero-before {
    display: flex;
    justify-content: center;
    color: white;
    gap: 43px;
    padding-top: 43px;
}

.footer-hero-detail .logo-hero .logo-detail-hero {
    font-size: 48px;
    margin: 0;
}

.footer-hero-detail-p {
    width: 507px;
    height: 174px;
    text-align: justify;
    font-size: 24px;
}

.footer-hero-link-h3 {
    margin-top: 0px;
    margin-bottom: 25px;
    font-size: 32px;
    font-weight: 900;
    -webkit-text-stroke: 1.5px black;
}

.link-hero-footer {
    text-decoration: none;
    color: white;
    font-size: 32px;
}

.footer-hero-link li {
    list-style: none;
    align-items: center;
    position: relative;
    left: 25px;
}

.footer-hero-link li::before {
    content: "▶";
    font-size: 24px;
    position: relative;
    top: -5px;
    left: -15px;
}

.footer-hero-social-media {
    display: flex;
    gap: 20px;
    align-items: center;
}

.social-media {
    font-size: 32px;
    margin: 25px 0;
}

.social-media-icon {
    width: 48px;
    height: 48px;
}

hr {
    width: 65%;
}

.footer-hero-after {
    display: flex;
    color: white;
    font-size: 24px;
    width: 1466px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}